%ul.nav.nav-tabs
  - if current_page?(users_path)
    %li.active= link_to 'Użytkownicy', users_path
  - else
    %li= link_to 'Użytkownicy', users_path
  - if current_page?(towns_path)
    %li.active= link_to 'Miasta', towns_path
  - else
    %li= link_to 'Miasta', towns_path

%br