.page-header
  %h1
    .label.label-default= 'Miasto'
    = @town.name

- if current_user.is_admin
  = link_to 'Edytuj', edit_town_path(@town), :class => 'btn btn-default'
= link_to 'Wstecz', towns_path, :class => 'btn btn-default'
